/build/
/.venv/
/vendor/65x02/
src/host/android/build/
src/host/android/.gradle/
src/host/android/.idea/
src/host/android/.cxx/
src/host/android/local.properties
src/host/android/*.keystore
src/host/android/*.jks
src/host/android/release/
__pycache__/
