/build/
/.venv/
src/emu/host/android/build/
src/emu/host/android/.gradle/
src/emu/host/android/.idea/
src/emu/host/android/.cxx/
src/emu/host/android/local.properties
src/emu/host/android/*.keystore
src/emu/host/android/*.jks
src/emu/host/android/release/