[submodule "src/tinyusb"]
	path = src/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "src/littlefs"]
	path = src/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "src/pico-sdk"]
	path = src/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
