[submodule "vendor/littlefs"]
	path = vendor/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "vendor/tinyusb"]
	path = vendor/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "vendor/chips"]
	path = vendor/chips
	url = https://github.com/floooh/chips.git
[submodule "vendor/sokol"]
	path = vendor/sokol
	url = https://github.com/floooh/sokol.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/cppdap"]
	path = vendor/cppdap
	url = https://github.com/google/cppdap.git
[submodule "vendor/wingetopt"]
	path = vendor/wingetopt
	url = https://github.com/alex85k/wingetopt.git
[submodule "vendor/emsdk"]
	path = vendor/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "vendor/6502_65C02_functional_tests"]
	path = vendor/6502_65C02_functional_tests
	url = https://github.com/Klaus2m5/6502_65C02_functional_tests
[submodule "vendor/hazard3"]
	path = vendor/hazard3
	url = https://github.com/Wren6991/Hazard3
[submodule "vendor/openfpga"]
	path = vendor/openfpga
	url = https://github.com/open-fpga/core-template.git
[submodule "vendor/opl2_fpga"]
	path = vendor/opl2_fpga
	url = https://github.com/gtaylormb/opl2_fpga
[submodule "vendor/65x02"]
	path = vendor/65x02
	url = https://github.com/SingleStepTests/65x02
	update = none
	ignore = dirty
[submodule "vendor/utest"]
	path = vendor/utest
	url = https://github.com/sheredom/utest.h.git
[submodule "vendor/libretro-common"]
	path = vendor/libretro-common
	url = https://github.com/libretro/libretro-common.git
