[submodule "src/littlefs"]
	path = src/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "src/pico-extras"]
	path = src/pico-extras
	url = https://github.com/picocomputer/pico-extras.git
[submodule "src/tinyusb"]
	path = src/tinyusb
	url = https://github.com/hathach/tinyusb.git
