# SPDX-License-Identifier: GPL-2.0-or-later

#
# ARM CMSIS-DAP compliant adapter
#
# http://www.keil.com/support/man/docs/dapdebug/
#

adapter driver cmsis-dap

# Optionally specify the serial number of CMSIS-DAP usb device.
# VGA       adapter serial E6661E601B98E3B9
# RIA       adapter serial E6614103E7594025
# PicoProbe adapter serial E66180109F5D6E25
#
# PowerShell
# Get-PnpDevice -PresentOnly | Where-Object { $_.InstanceId -match '^USB\\VID_2E8A&PID_000C\\' } | Select-Object FriendlyName, InstanceId
# or
# pnputil /enum-devices /connected | findstr /i "VID_2E8A PID_000C CMSIS DAP Debug Pico"
# or
# Get-PnpDevice -PresentOnly | ? { $_.InstanceId -match '^USB\\VID_2E8A&PID_000C\\[^\\]+$' } | % { [PSCustomObject]@{ Name=$_.FriendlyName; Serial=($_.InstanceId -split '\\')[-1] } }

# ! to non RP6502 experiments use VGA probe or PicoProbe

if {![info exists CMAKE_LAUNCH_TARGET]} {
    echo "Using Pico Probe"
	echo "adapter serial connected"
	adapter serial E66180109F5D6E25
} else {
	echo "CMAKE_LAUNCH_TARGET is set. Passed from tasks.json"
	echo "CMake launch target: $CMAKE_LAUNCH_TARGET"
	if {[string equal $CMAKE_LAUNCH_TARGET "rp6502_ria_w"]} {
		echo "adapter serial connected to RIA W"
		adapter serial E6614103E7594025
	} elseif {[string equal $CMAKE_LAUNCH_TARGET "rp6502_vga"]} {
		adapter serial E6614103E73E3F24
		echo "adapter serial connected to VGA"
	} else {
		error "Unknown CMake launch target for CMSIS-DAP serial mapping: $CMAKE_LAUNCH_TARGET"
	}
}
