# SPDX-License-Identifier: GPL-2.0-or-later

#
# ARM CMSIS-DAP compliant adapter
#
# http://www.keil.com/support/man/docs/dapdebug/
#

adapter driver cmsis-dap

if {![info exists CMAKE_LAUNCH_TARGET]} {
    error "CMAKE_LAUNCH_TARGET is not set. Pass it from tasks.json with: -c \"set CMAKE_LAUNCH_TARGET \"${command:cmake.launchTargetName}\""
}
echo "CMake launch target: $CMAKE_LAUNCH_TARGET"
if {[string equal $CMAKE_LAUNCH_TARGET "rp6502_ria_w"]} {
	echo "adapter serial connected to RIA W"
    adapter serial E6614103E75#####
} elseif {[string equal $CMAKE_LAUNCH_TARGET "rp6502_vga"]} {
    adapter serial E6614103E73#####
	echo "adapter serial connected to VGA"
} else {
    error "Unknown CMake launch target for CMSIS-DAP serial mapping: $CMAKE_LAUNCH_TARGET"
}